<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="navbar">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Messages -->
<!--        <li class="nav-item dropdown no-arrow mx-1">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"-->
<!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                <i class="fas fa-bell fa-fw"></i>-->
<!--                &lt;!&ndash; Counter - Messages &ndash;&gt;-->
<!--                <span class="badge badge-danger badge-counter">7</span>-->
<!--            </a>-->
<!--            &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
<!--            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
<!--                 aria-labelledby="messagesDropdown">-->
<!--                <h6 class="dropdown-header">-->
<!--                    Message Center-->
<!--                </h6>-->
<!--                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                    <div class="dropdown-list-image mr-3">-->
<!--                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"-->
<!--                             alt="...">-->
<!--                        <div class="status-indicator bg-success"></div>-->
<!--                    </div>-->
<!--                    <div class="font-weight-bold">-->
<!--                        <div class="text-truncate">Hi there! I am wondering if you can help me with a-->
<!--                            problem I've been having.-->
<!--                        </div>-->
<!--                        <div class="small text-gray-500">Emily Fowler · 58m</div>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                    <div class="dropdown-list-image mr-3">-->
<!--                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"-->
<!--                             alt="...">-->
<!--                        <div class="status-indicator"></div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="text-truncate">I have the photos that you ordered last month, how-->
<!--                            would you like them sent to you?-->
<!--                        </div>-->
<!--                        <div class="small text-gray-500">Jae Chun · 1d</div>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                    <div class="dropdown-list-image mr-3">-->
<!--                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"-->
<!--                             alt="...">-->
<!--                        <div class="status-indicator bg-warning"></div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="text-truncate">Last month's report looks great, I am very happy with-->
<!--                            the progress so far, keep up the good work!-->
<!--                        </div>-->
<!--                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--                    <div class="dropdown-list-image mr-3">-->
<!--                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"-->
<!--                             alt="...">-->
<!--                        <div class="status-indicator bg-success"></div>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone-->
<!--                            told me that people say this to all dogs, even if they aren't good...-->
<!--                        </div>-->
<!--                        <div class="small text-gray-500">Chicken the Dog · 2w</div>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>-->
<!--            </div>-->
<!--        </li>-->

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="userNameSpan"></span>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                     alt="avatar"
                     class="rounded-circle img-fluid" style="width: 60px; height: 60px;">

            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/profile">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" onclick="logout()" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>


<script>
 $(document).ready(function () {
    if(localStorage.getItem('role') === 'AGENT') {
        $('.agent').show();
        $('#dashboardLink').attr('href', '/e-dashboard');
    } else {
        $('.nav-item').show();
        $('#dashboardLink').attr('href', '/admin-dashboard');
    }

    console.log("Origin Absolute URL : ", window.location.origin);
     getLoggedInUser();
 });

 function logout() {
     localStorage.clear();
     window.location.href = '/login';
 }
 function getLoggedInUser () {
     let headers = null;
     const url = prodUrl + "/me";
     console.log("document loaded");
     if (!headers) {
         headers = {}
     }
     $.ajax({
         url: url,
         type: "GET",
         dataSrc: 'responseData',
         headers: {
             headers,
             Authorization: 'Bearer ' + localStorage.getItem('access_token')
         },
         success: function (res) {
             localStorage.setItem('userName',res.firstName+res.lastName);
             localStorage.setItem('firstName',res.firstName);
             localStorage.setItem('lastName',res.lastName);
             localStorage.setItem('role',res.role);
             $('#userNameSpan').html(res.firstName+' '+res.lastName ?? 'User Name');
         },
     })

 }
</script>
